#container {
  border: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
}
#pageTitle {
  text-align: center;
}

#menu li {
  display: inline-block;
  margin-right: 10px;
}
#listContainer li {
  list-style: none;
}

#pageList li {
  display: inline-block;
  margin-right: 5px;
}